.table-view {
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: #ffeede;
}

.table-row-cell { 
    -fx-background-color: #FFFFFF;
}

.table-row-cell:selected {
    -fx-text-background-color:  #31baec;
    -fx-background-color: #FFFEBB;
 }

.table-view .column-header-background { 
    -fx-background-color: linear-gradient(to bottom, #FFC1C2, #FFFEBB);
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header { 
    -fx-background-color: transparent;
    -fx-border-style: none;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(#C0C0C0,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#C0C0C0,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

.table-view .filler {
    -fx-border-insets: 10;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #DEEFFF;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: linear-gradient(to bottom, #FFC1C2, #FFFEBB);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #FFC1C2, #FFFEBB);
}

